* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    padding: 5vh 33vw;
}

section {
    background-color: white;
    width: 33vw;
    border-radius: 15px;
    margin-top: 5rem;
}

section div div {
    position: relative;
    top: -15px;
    background-image: url(imgs/homemgostoso.jpg);
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    background-repeat: none;
    margin: 0 calc(50% - 75px);
    border-radius: 50%;
    border: 5px solid lightgray;
}
